    <div class="banner" style="background: url('http://res.cloudinary.com/dxdqe1twn/image/upload/v1508248381/Accueil_gftfls.jpg');">
      <div class="banner-content">
        <h1></h1>
        <p></p>
      </div>
    </div>
